
  .hidden-textbox{
    display:inline;
    
  }
  .hidden-textbox2{
    display:inline;
    
  }
  .hidden-textbox3{
    display:inline;
    
  }
  .hidden-textbox4{
    display:inline;
    
  }
  .hidden-textbox5{
    display:inline;
    
  }
  .hidden-textbox6{
    display:inline;
    
  }

  .hidden-textbox7{
    display:inline;
    
  }

  .hidden-textbox8{
    display:inline;
    
  }

  .hidden-textbox9{
    display:inline;
    
  }
  .hidden-textbox11{
    display:inline;
    
  }
  .hidden-textbox12{
    display:inline;
    
  }

  .tableborder{
  border-style: solid;
  border-color: black;
    
  }




  .hidden-form{
    display:inline;
    
  }
  